$icon-font-path: "../fonts/bootstrap/";

$brand-primary: #3bc0c3;
$brand-danger: #f05050;

$grid-gutter-width: 20px;
$container-large-desktop: (940px + $grid-gutter-width);
$container-lg: $container-large-desktop;

$screen-md: 960px;
