/*================================================
STICKY FOOTER
================================================*/

body, html {
    height: 100%;
}

#page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height;
}

#page-wrap:after {
    content: "";
    display: block;
}

footer, #page-wrap:after {
    min-height: $footer-height;
}