/*================================================
COLORS
================================================*/
$color-main: #3bc0c3;
$color-dark: #1c2b36;
$color-white: #fff;
$color-black: #000;
$color-text: #333333;
$color-text-2: #314350;

$color-gray: #edf1f2;
$color-darkgray: #b6c2c9;

$color-red: #f05050;
$color-green: #20a84f;

/*================================================
FOOTER
================================================*/
$footer-height: 290px;