@import "bourbon/_bourbon.scss";
@import "_variables.scss";
@import "_sticky_footer.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

/*================================================
MAIN STYLES
================================================*/
body {
  font: normal 14px 'Open Sans', sans-serif;
  background-color: $color-white;
  color: $color-text-2;
  overflow-x: hidden;

  &.menu-opened {
    overflow: hidden;
    max-height: 100vh;
  }
}

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.line {
  display: block;
  @include size(100% 5px);
  background-color: #0f1922;
}

.title-line {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  padding: 0 27px;
  margin: 21px 0;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    @include size(100% 2px);
    margin-top: -1px;
    background-color: $color-text-2;
    z-index: 1;
  }

  > span {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    background-color: $color-white;
    z-index: 5;
  }

  @media (max-width: 767px) {
    text-align: center;

    &::before {
      display: none;
    }
  }

  @media (max-width: 450px) {
    font-size: 18px;
  }
}

@include selection {
  background-color: $color-main;
  color: $color-white;
}

.color-red {
  color: $color-red;
}

.btn {
  font-size: 12px;
  color: $color-white;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 10px 16px;

  @include transition(background 0.3s ease);
}

.email-input {
  position: relative;

  &::before {
    font-family: FontAwesome;
    content: "\f003";
    color: $color-text-2;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 8px;
    @include transform(translate(0, -50%));
  }
}

.form-subscribe {
  $submit-width: 108px;
  $margin: 8px;

  font-size: 0;

  .email-input {
    margin-right: $margin;
    @include calc(width, "100% - #{$margin} - #{$submit-width}");

    input {
      width: 100%;
      padding-left: 35px;
    }
  }

  input[type="submit"] {
    min-width: $submit-width;
  }

  @media (max-width: 767px) {
    input, button, .email-input {
      width: 100%;
    }

    .email-input {
      margin-bottom: 10px;
    }

    [type="submit"] {
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

.form-messages {
  display: none;
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  margin-top: 8px;

  i {
    font-size: 18px;
    vertical-align: middle;
  }

  > * {
    //display: none;
  }

  .message-success {
    color: $color-green;
  }

  .message-error {
    color: $color-red;
  }

  .message-loading {
    color: inherit;
  }
}

.image-wrapper {
  @extend %background-cover;
}

#{$all-text-inputs} {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 32px;

  @include placeholder {
    color: #999999;
    font-size: 12px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

#page-wrap {
  padding-bottom: 10px;
}

/*================================================
HEADER
================================================*/
header {
  .header-right {
    float: right;
    margin-top: 27px;
  }
}

.header-line {
  display: block;
  @include size(100% 20px);
  background-color: $color-main;
}

@media (max-width: 767px) {
  header {
    position: relative;
    z-index: 100;
    background-color: $color-white;

    .header-right {
      margin-top: 11px;
    }
  }
}

/*================================================
LOGO
================================================*/
#logo {
  display: block;
  float: left;
  margin: 22px 0 13px;

  img {
    @include size(auto 55px);
  }

  @media (max-width: 767px) {
    margin: 15px 0;

    img {
      height: 26px;
    }
  }
}

/*================================================
CART
================================================*/
.cart {
  position: relative;
  font-size: 12px;
  line-height: 1;
  padding-bottom: 5px;

  .cart-preloader {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      @include size(20px);
    }
  }

  &.loaded .cart-preloader {
    opacity: 0;
    visibility: hidden;
  }

  .cart-button {
    overflow: hidden;
    position: relative;
    line-height: 35px;
    border: 1px solid $color-darkgray;
    border-radius: 4px;
    padding: 0 9px 0 40px;

    &::before {
      font-family: FontAwesome;
      content: "\f07a";
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 10px;
      @include transform(translate(0, -50%));
      display: block;
    }

    .currency, .total {
      font-weight: bold;
    }


  }

  .cart-inner {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    padding: 10px;
    border: 1px solid $color-darkgray;
    border-radius: 4px;
    background-color: $color-white;
    @include size(135% auto);
    z-index: 20;
    @include transition(all 0.3s ease);

    table {
      width: 100%;
      min-height: 100px;

      td {
        vertical-align: middle;
        padding: 0px;

        &:first-child {
          width: 70px;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    .cart-image {
      @include size(60px);
    }

    .pr-name {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .cart-delete-btn {
      color: $color-text-2;
      font-size: 20px;
    }

    .goto-checkout {
      float: right;
    }
  }

  @media (min-width: 768px) {
    &:hover .cart-inner {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 767px) {
    float: left;

    & .cart-inner.opened {
      opacity: 1;
      visibility: visible;
    }

    .cart-button *:not(.cart-icon) {
      display: none;
    }

    .cart-button {
      @include size(40px 32px);
      padding: 0;
      background-color: #edf1f2;
      margin-right: 12px;
      border: none;

      &::before {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }

      .cart-preloader {
        display: none;
      }
    }

    .cart-inner {
      width: 280px;
      right: 12px;
    }
  }

  @media (max-width: 450px) {
    position: static;

    .cart-inner {
      width: 100vw;
      position: absolute;
      top: 100%;
      left: 0;
      right: auto;
      z-index: 50;
      border: none;
      border-bottom: 1px solid #b6c2c9;
      border-radius: 0;
    }
  }
}

/*================================================
NAVIGATION
================================================*/
nav {
  position: relative;
  z-index: 15;

  .line {
    position: relative;
    z-index: 1;
  }
}

#main-menu {
  position: relative;
  z-index: 5;
  @extend %list-reset;
  font-size: 0.857em;
  line-height: 1;

  li {
    position: relative;

    @include transform-style(preserve-3d);
    @include perspective(800px);
  }

  a {
    position: relative;
    //overflow: hidden;
    color: $color-text-2;
    text-transform: uppercase;
    @include transition(all 0.3s ease);
  }

  li.red > a {
    color: $color-red;
  }

  > li {
    float: left;

    &.right {
      float: right;
    }

    > a {
      display: block;
      font-weight: bold;
      padding: 10px 17px;

      &::after {
        opacity: 0;
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        @include transform(translate(-50%, 0));
        @include size(0% 4px);
        background-color: $color-main;
        @include transition(all 0.3s ease);
      }
    }

    &.has-child > a::after {
      bottom: 0px;
    }

    &:hover > a, &.active > a {
      text-decoration: none;
      color: $color-white;
      background-color: $color-dark;

      &::after {
        opacity: 1;
        @include size(100% 5px);
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;
      //max-height: 0;
      @extend %list-reset;
      background-color: $color-gray;

      opacity: 0;
      visibility: hidden;
      @include transition(all 0.3s ease);
      @include transform-origin(50% 0);
      @include transform(rotateX(-35deg));

      li {

        &.has-child > a::before {
          position: absolute;
          top: 50%;
          right: 12px;
          content: "";
          @include triangle(8px, $color-text-2, right);
          margin-top: -4px;
          z-index: 10;
        }

        &.separator {
          border-bottom: 1px solid rgba($color-text-2, 0.5);
          @include size(100% 0);
        }

        a {
          display: block;
          color: $color-text-2;
          text-decoration: none;
          padding: 8px 15px;
        }

        &:hover > a {
          background-color: $color-darkgray;
        }

        > .sub-menu {
          top: 0;
          left: 100%;
        }
      }
    }

    &:hover > .sub-menu, & > .sub-menu > li:hover > .sub-menu {
      opacity: 1;
      visibility: visible;
      //max-height: 700px;
      @include transform(rotateX(0deg));
    }
  }
}

@media (max-width: 767px) {
  nav .line {
    display: none;
  }

  #main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 76px;
    display: none;
    z-index: 50;
    background-color: $color-white;
    overflow-y: auto;
    max-height: 100vh;

    li {
      display: block;
      float: none;

      &.right {
        float: none;
      }

      a {
        font-size: 14px;
        background-color: unset !important;
        color: $color-text-2 !important;
        &::after {
          display: none;
        }
      }

      &.has-child a::before {
        display: none;
      }
    }

    li a {
      border-bottom: 1px solid #cee5f5;
    }

    > li:first-child > a {
      border-top: 1px solid #cee5f5;
    }

    > li .sub-menu {
      position: static;
      opacity: 1;
      visibility: visible;
      @include transform(none);
      background-color: $color-white;
      font-size: inherit;

      a {
        font-size: 14px;
        font-weight: bold;
      }
    }

    > li > .sub-menu > li {

      > a {
        padding-left: 30px;
      }

      > .sub-menu > li > a {
        padding-left: 45px;
      }
    }

    .separator {
      display: none;
    }
  }
}

/*================================================
HAMBURGER BUTTON
================================================*/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  @include size(40px 32px);
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  @include transition(background 0.3s);

  @media (min-width: 768px) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 3px;
    background: #333333;
    margin-top: -2px;

    &::before, &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #333333;
      content: "";
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }
}

.c-hamburger--htx {
  background-color: #edf1f2;

  span {
    @include transition(background 0s 0.3s);

    &::before, &::after {
      @include transition-duration(0.3s, 0.3s);
      @include transition-delay(0.3s, 0s);
    }

    &::before {
      @include transition-property(top, transform);
    }

    &::after {
      @include transition-property(bottom, transform);
    }
  }

  &.is-active {
    background-color: #edf1f2;

    span {
      background: none;

      &::before {
        top: 0;
        @include transform(rotate(45deg));
        @include transition-delay(0s, 0.3s);
      }

      &::after {
        bottom: 0;
        @include transform(rotate(-45deg));
        @include transition-delay(0s, 0.3s);
      }
    }
  }
}

.c-hamburger--htra {
  background-color: transparent;

  span {
    transition: transform 0.3s;

    &::before {
      transform-origin: top left;
      transition: transform 0.3s, width 0.3s, top 0.3s;
    }

    &::after {
      transform-origin: bottom left;
      transition: transform 0.3s, width 0.3s, bottom 0.3s;
    }
  }

  &.is-active {
    background-color: transparent;

    span {
      transform: rotate(180deg);

      &::before, &::after {
        width: 50%;
      }

      &::before {
        top: 0;
        transform: translateX(-3px) translateY(1px) rotate(-45deg);
      }

      &::after {
        bottom: 0;
        transform: translateX(-3px) translateY(-1px) rotate(45deg);
      }
    }
  }
}

/*================================================
SPLASH
================================================*/
#splash {
  font-weight: bold;
  padding-top: 25px;

  .splash-image {
    color: $color-white;
    text-align: center;
    line-height: 1;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    > div {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      padding: 10px;
      @include transform(translate(0, -50%));
      background-color: rgba($color-black, 0.5);

      h5 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }

      small {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    @media (max-width: 960px) {
      margin-bottom: 15px;
    }
  }

  .splash-content {
    color: $color-text;

    h1 {
      text-transform: none;
      font-size: 42px;
      margin: 0;
    }

    h3 {
      font-size: 24px;
      margin: 6px 0;
    }

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  @media (max-width: 450px) {
    .splash-image {
      > div {
        h5 {
          font-size: 18px;
        }

        small {
          font-size: 10px;
        }
      }
    }

    .splash-content {

      h1 {
        font-size: 30px;
      }

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

  }
}

/*================================================
PRODUCTS
================================================*/
.pr-item {
  text-align: center;
  margin-bottom: 25px;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .pr-image {
    position: relative;
    overflow: hidden;
    line-height: 1;
    width: 100%;
    border: 1px solid $color-darkgray;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .image-wrapper {
    @include size(90%);
    position: absolute;
    top: 5%;
    left: 5%;
    @extend %background-cover;
    @include transition(all 2s $ease-in-out-cubic);
    @include transform(scale(1));

    img {
      width: 100%;
      height: auto;
    }
  }

  &:hover .image-wrapper {
    @include transform(scale(1.05));
  }

  .pr-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .price {
    &.discount {
      span:first-child {
        text-decoration: line-through;
      }

      span:last-child {
        color: $color-red;
      }
    }
  }
}

/*================================================
FOOTER
================================================*/
footer {
  color: $color-white;
  background-color: $color-darkgray;
  padding: 15px 0;
  text-transform: uppercase;

  .form-subscribe {
    position: relative;
    top: 5px;
  }
}

.footer-header {
  font-size: 18px;
  margin: 0 0 13px 0;
}

.footer-menu {
  @extend %list-reset;
  li {
    margin: 5px 0;

    a {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      @include transition(all 0.3s ease);

      &:hover {
        color: $color-text-2;
      }
    }
  }
}

@media (max-width: 767px) {

  footer {
    .widget {
      margin-bottom: 15px;
    }
  }

  .footer-header {
    margin-bottom: 15px;
    line-height: 1;
  }
}

@media (max-width: 450px) {
  footer {
    .widget {
      width: 100%;
      float: none;
    }
  }
}